<h1>
    <!-- <span *ngIf="heroe.id">Editar</span>
    <span *ngIf="!heroe.id">Nuevo</span> -->
    {{ (heroe.id)? 'Editar':'Nuevo' }}

    Héroe <small>{{heroe.superhero}}</small></h1>

<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutGap="40px">
     <div fxFlex="50" fxLayout="column">

         <div fxLayout="row" 
                fxLayout.xs="column"
                fxLayoutGap="20px">
             <mat-form-field fxFlex="100" fxLayout.xs="column">
             <mat-label>Super Heroe</mat-label>
             <input matInput type="text"
             [(ngModel)]="heroe.superhero"
              required>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego*</mat-label>
                <input matInput 
                        type="text"
                        [(ngModel)]="heroe.alter_ego"
                         required>
            </mat-form-field>
         </div>
         
    
        <mat-form-field fxFlex="100">
            <mat-label>Primera aparición</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.first_appearance" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Peronajes</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.characters" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Creador</mat-label>
            <mat-select [(ngModel)]="heroe.publisher" required>
                <mat-option *ngFor="let publisher of publishers"
                            [value]="publisher.id">
                    {{ publisher.desc }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Foto Url</mat-label>
            <input matInput 
            [(ngModel)]="heroe.alt_img" type="text" required>
        </mat-form-field>
        <br>
        <div fxLayout>
            <button mat-raised-button color="primary"
            (click)="guardar()">
                <mat-icon>edit</mat-icon>
                {{ (heroe.id)? 'Actualizar':'Crear' }}
                
            </button>
            <span class="spacer"></span>
            <button 
                *ngIf="heroe.id"
                mat-raised-button color="warn"
                (click)="borrar()">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>

     </div>
     <div fxFlex="50" fxLayout="column">
         <img [src]="heroe | imagen" alt="">
     </div>
</div>