<mat-grid-list cols="1">
    <mat-grid-tile>
        <button mat-raised-button color="primary"
            (click)="login()">Ingresar</button>

            <button mat-raised-button color="warn"
            (click)="ingresarSinLogin()">Ingresar sin login</button>
    </mat-grid-tile>
</mat-grid-list>