<p>listado de heroes!</p>

<!-- <ul>
    <li *ngFor="let heroe of heroes">
        {{ heroe.superhero }}
    </li>
</ul> -->

<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px">

    <div fxFlex="20"
         fxFle.lg="15"
         fxFle.lg="30"
        *ngFor="let heroe of heroes">
       
        <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>
        
    </div>
 
</div>

