<p>error-page works!</p>

<ul>
    <li>
        <a href="auth/login">
            Login
        </a>
    </li>
    <li>
        <a href="auth/registro">
            Registro
        </a>
    </li>
    <li>
        <a href="heroes/listado">
            Listado
        </a>
    </li>

</ul>