<div fxLayout="column">
    <div>
        <h1>Buscador de heroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h1>Buscador</h1>
<!-- {{termino}} -->
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Buscar</mat-label>
            <input type="text"
                    placeholder="Ingresa dato a buscar"
                   matInput
                   [(ngModel)]="termino"
                   [matAutocomplete]="auto"
                    (input)="buscando()"
                   >
            <mat-autocomplete autoActiveFirstOption 
                              #auto="matAutocomplete"
                              (optionSelected)="opcionSeleccionada( $event )">
              <mat-option *ngFor="let heroe of heroes " [value]="heroe">
                {{ heroe.superhero }}
              </mat-option>

              <mat-option value="" *ngIf="heroes.length === 0 && termino.trim().length >0">
                   No se encontro el termino de busqueda {{ termino }}
              </mat-option>

            </mat-autocomplete>


           

          </mat-form-field>

    </div>

    <div>
        <pre>{{ heroeSeleccionado | json }}</pre>
    </div>

</div>